canvas {
    float: left;
}

#teamChart {
    clear: left;
}

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.blu {
    background-color: rgba(0, 0, 255, 0.3);
}

.red {
    background-color: rgba(255, 0, 0, 0.3);
}